header nav a:hover {
    color: red !important;
}

section ul li a:hover {
    color: red !important;
}

.input-group-text.rounded-pill-start {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-group-text.rounded-pill-end {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-text {
    font-family: 'UnifrakturCook', Georgia, serif;
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    .form-label {
        display: none;
    }
}

@media (min-width: 992px) {
    .form-control::placeholder {
        color: transparent;
    }
}